.headerDiv {
  padding: 25px 25px 25px 25px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.link {
  padding: 25px;
  display: flex;
  text-decoration: none;
}

.active {
  background-color: #f1f1f1;
}

.shadow {
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.comment {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: white;
}

.btn {
  border: none;
  color: black;
  padding: 16px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-align: center;
}

button:active {
  background-color: rgba(0, 0, 0, 0.25);
}

.content {
  padding: 25px;
  display: flex;
  gap: 25px;
}
.card {
  align-self: center;
  display: flex;
  width: 50%;
  flex-direction: column;
  background-color: white;
  padding: 25px;
}
.submitBtn {
  background-color: #44e170;
}
.cancelBtn {
  background-color: #e14444;
}

.input {
  display: flex;
  padding: 20px;
  border: none;
  color: white;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #858585;
  opacity: 1; /* Firefox */
}

.bg-dark {
  background-color: #1f1f1f;
}

.bg-black {
  background-color: #0a0a0a;
}

.bg-blue {
  background-color: rgb(35, 123, 255);
}

.popupAlert {
  /* animation-name: down, bounce;
  animation-duration: 800ms, 600ms;
  animation-delay: 0ms, 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1, 1; */
  animation: down 1s ease-in-out;
}

.slideAlert {
  animation: slide 1s ease-in-out;
}

@keyframes down {
  0% {
    transform: translateY(-25%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  40%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
  }
}
